<html>

<head>
  <link href="https://cdn.activator.cloud/fusion-email/2.3.3/dist/main.css" rel="stylesheet">
  <link href="https://cdn.activator.cloud/fusion-email/2.3.3/src/fusion/static/email-base-classes.css" rel="stylesheet">
  <script src="https://cdn.activator.cloud/fusion-email/webcomponentsjs/webcomponents-loader.js"></script>
</head>

<body id="JSD68K97LLGUL">
  <mjml> <mj-head> <mj-title id="JRUL0Q026OBTC">Email Template</mj-title> <mj-raw>
        <meta name="format-detection" content="address=no">
        <meta name="format-detection" content="telephone=no">
      </mj-raw> <mj-style id="ACT_KGM8UYH0TU59L" data-mo-root-font="">body { font-family: Helvetica; }</mj-style> </mj-head> <mj-body id="JRUG8YGA04E6U" data-mo-category="root" data-mo-type="email" background-color="rgba(255,255,255,1)" class="" style="font-family: Helvetica; background-color: rgba(255,255,255,1);" font-family="Helvetica"> </mj-body> </mjml>
  <script src="https://cdn.activator.cloud/fusion-email/2.3.3/dist/main.js"></script>
</body>

</html>