<html>

<head></head>

<body><fusion-section id="ACT_LAY4K17FSH3PT" flex-direction="row" data-horizontal="center" data-vertical="center" isedit="false" data-flag-on="" fieldname="Color Container - Tan" data-mo-category="component" data-mo-type="component" width="100%" style="width: 100%; height: 100%;" padding-bottom="0vmin" layout-name="Color Container - Tan (1)" layout-group="20 - Basic Layouts" layout-description="Color Container - Tan" required="" is-layout="true" class="" height="100%">
    <div class="act-system-slot" slot="mo-system" style="">
      <div class="act-wrapper" style="width: 627.201px; top: -631.139px; left: 0px;">
        <div class="act-fieldname-block">
          <p class="act-fieldname">Color Container - Tan (1)</p>
          <div class="layout-edit-mode-block">
            <div>editing</div><button class="x-button"><i class="icon-x-small-outlined"></i></button>
          </div>
        </div>
        <div class="layout-edit-buttons-controll">
          <div class="bb-tooltip bottom">
            <div class="bb-tooltip-label">Edit </div><button class="bb-button edit-button secondary"><i class="icon-edit-outlined"></i></button>
          </div>
          <div class="bb-tooltip bottom">
            <div class="bb-tooltip-label">Delete </div><button class="bb-button delete-button secondary"><i class="icon-delete-outlined"></i></button>
          </div>
        </div>
        <div class="bb-tooltip reorder-tooltip top-left" style="top: 303.569px;">
          <div class="bb-tooltip-label">Reorder </div><button class="bb-button reorder-button secondary"><i class="icon-reorder-outlined"></i></button>
        </div>
      </div>
    </div><fusion-column id="ACT_LAY4J5LLEFCGB" flex-direction="column" data-horizontal="center" data-vertical="top" isedit="false" data-flag-on="" fieldname="Column" data-mo-category="component" data-mo-type="component" class="edit-mode" grid-column-start-tablet="auto" grid-column-start-mobile="auto" display="grid" grid-columns-mobile="12" grid-columns-tablet="12" grid-columns="12" allow-layout="true" padding-bottom="012px" background-color="rgba(246, 244, 228, 1)" min-height="100px" padding-right="8px" padding-left="8px" padding-top="12px" height="100%" style="height: 100%;"></fusion-column>
  </fusion-section></body>

</html>